<h1>Vagas</h1>
<% if current_user.headhunter? %>
  <%= link_to 'Cadastrar Nova Vaga', new_job_path %>
<% end %>
<ul>
    <% @jobs.each do |j|%>
        <li><%= link_to "#{j.title}", j , id: "details-#{j.id}"%></li>
    <%end%> 
</ul>

<%= link_to 'Voltar', root_path %>
